.catalog
    - for (let x = 0; x < 6; x++)
        .catalog__card
            .card__img

            .card__content
                h2.card__header Darth Vader

                p.card__spec height: 96
                p.card__spec mass: 32
                p.card__spec side: light