.catalog
    - for (let x = 0; x < 6; x++)
        .catalog__item
            .item__img

            .item__content
                h2.item__header Darth Vader

                p.item__spec height: 96
                p.item__spec mass: 32
                p.item__spec side: light
