.search-sort
    .search
        input(type="search" placeholder="Search").search__input

    .sort
        label.sort__item
            input.item__input(type="radio" name="sort")
            span.item__text All

        label.sort__item
            input.item__input(type="radio" name="sort")
            span.item__text Dark

        label.sort__item
            input.item__input(type="radio" name="sort")
            span.item__text Light
